/* RESET *//* RESET *//* RESET *//* RESET *//* RESET */    
*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
a{
    text-decoration: none;
    color: currentColor;
}

ul,
ol, menu{
    list-style-type: none;
    
}

img {
    width: 100%;
    
}

/* LAYOUT */  /* LAYOUT */  /* LAYOUT */  /* LAYOUT */  /* LAYOUT */  /* LAYOUT */  
 
.container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 0 32px;
}

.col-4{
    
    width: calc(4 * 100% / 12);
    padding: 6px;
}
.col-4-2{
    width: calc(4 * 100% / 12);
    padding: 6px;
    
}
.col-4-3{
    width: calc(4 * 100% / 12);
    padding: 6px;
    
}
.col-4-4{
    width: calc(4 * 100% / 12);
    padding: 6px;
    
}
.col-4-5{
    width: calc(4 * 100% / 12);
    padding: 6px;
    
}
.col-4-6{
    width: calc(4 * 100% / 12);
    padding: 6px;
    
}
.col-foot{
    width:calc(100% / 2);
    height: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section{
    padding: 32px;
}
.page-header .row{
    justify-content: space-between;
    align-items: center;
   
}
.page-footer .row{
    justify-content: space-between;
    
}


li{
    display: inline ;
    padding: 0 5px;
    
}
.logo{
    max-width:100px;
    
}
.btn {
    background-color:white;
    padding: 5px;
    color:black;
    border-radius: 20px;
}
/* STYLE */ /* STYLE *//* STYLE *//* STYLE *//* STYLE *//* STYLE */
.page-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 69, 0, 0.7);
    
    color: white;
    padding: 12px 0;
}
.page-content .section{
    padding: 40px 0;
}
.page-footer{
    color:white;
    background-color: #000000aa ;   
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
}
.card-header{
    position: relative ;
    /* border: 2px solid black; */
}
.card-header > img{
display: block;
}
.badge-red{
    position: absolute;
    bottom: 60px;
    width: 15%;
    background-color: red;
    color: white;
    line-height: 20px;
	font-size: 10px;
	padding: 0 12px;
}
.badge-green{
    position: absolute;
    bottom: 60px;
    left: 50px;
    background-color: green;
    color: white;
    line-height: 20px;
	font-size: 10px;
	padding: 0 12px;
}
.badge-green-solo{
    position: absolute;
    bottom: 60px;
    background-color: green;
    color: white;
    line-height: 20px;
	font-size: 10px;
	padding: 0 12px;
}
.badge-heart{
    background-color: white;
    position: absolute;
    right: 0;
    top: 20px;
    padding: 10px 10px;
}

h3 + div{
    color: orangered;
    display: inline-block;
}
.last-price{
    text-decoration: line-through;
}

 .col-4 .overlay{
    position: absolute;
	background-image: url(../img/1.webp);
    background-position: center;
    background-size: cover;
	right: 0;
	top: 0;
	left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
} 
.col-4-2 .overlay{
    position: absolute;
	background-image: url(../img/2.webp);
    background-position: center;
    background-size: cover;
	 right: 0;
	top: 0;
	left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	opacity: 0;
}  
.col-4-3 .overlay{
    position: absolute;
	background-image: url(../img/3.webp);
    background-position: center;
    background-size: cover;
	 right: 0;
	top: 0;
	left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	opacity: 0;
}  
.col-4-4 .overlay{
    position: absolute;
	background-image: url(../img/4.webp);
    background-position: center;
    background-size: cover;
	 right: 0;
	top: 0;
	left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	opacity: 0;
}  
.col-4-5 .overlay{
    position: absolute;
	background-image: url(../img/5.webp);
    background-position: center;
    background-size: cover;
	 right: 0;
	top: 0;
	left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	opacity: 0;
}  
.col-4-6 .overlay{
    position: absolute;
	background-image: url(../img/6.webp);
    background-position: center;
    background-size: cover;
	 right: 0;
	top: 0;
	left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	opacity: 0;
}  
.col-4:hover .overlay {
	opacity: 1;
   
}
.col-4-2:hover .overlay {
	opacity: 1;
   
}
.col-4-3:hover .overlay {
	opacity: 1;
    background-color: #000000aa;
   
}
.col-4-4:hover .overlay {
	opacity: 1;
   
}
.col-4-5:hover .overlay {
	opacity: 1;
   
}
.col-4-6:hover .overlay {
	opacity: 1;
   
}
